*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --font-family: "Open Sans", sans-serif;
  --grey: #eeeeee;
  --light: #fff;
  --black: #222831;
  --dark: #1c1427;
  --primary-yellow: #ffd369;
  --success-green-1: #ccffbd;
  --success-green-2: #7eca9c;
  --grey-2: #40394a;

  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  color: var(--dark);
}
html:focus-within {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  :root {
    scroll-behavior: auto;
  }
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
  }
}

::selection {
  background-color: rgb(97, 87, 87);
  color: #fff;
}

body {
  font-family: var(--font-family);
  line-height: 1.6;
  vertical-align: baseline;
}
